{
    "presets": [
        "@babel/preset-typescript",
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "shippedProposals": true,
                "corejs": 3,
                "modules": false,
                "targets": {
                    "node": "current",
                    "chrome": "70"
                }
            }
        ]
    ],
    "env": {
        "test": {
            "plugins": [
                "@babel/plugin-transform-modules-commonjs"
            ]
        }
    }
}